body {
    font-family: Georgia, serif;
    background-color: #ffc0cb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: transparent; 
    max-width: 800px; 
    width: 100%;
    padding: 20px; 
    box-sizing: border-box; 
    text-align: center; 
}

img {
    background-color: transparent; 
    display: block; 
    max-width: 100%;     
    height: auto;
    margin: 0 auto;
    max-height: 400px; 
}

h1 {
    margin-bottom: 20px;
}

#question-container, #options, #final-result {
    width: 100%;
    text-align: left;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0; 
}

button {
    padding: 10px 20px;
    background-color: #5c708f;
    color: #FFF0F5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #998080;
}

#result, #final-result {
    margin-top: 20px;
    font-weight: bold;
}
#timer {
    font-size: 48px; /* Tamaño de letra grande */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrado horizontalmente */
    margin-bottom: 20px; /* Espacio debajo del temporizador */
    color: #ff0000; /* Color rojo para mayor visibilidad */
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#timer-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url('/home/belen/Escritorio/reloj.png') no-repeat center center;
    background-size: contain;
    animation: rotate 2s linear infinite;
}

#timer {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #ff0000;
}










